body{
  background: url(./img/268758547.jpg) no-repeat center / cover;
}


.container{
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}


#toDoList{
  height: max-content;
  width: 50vw;
}
.button{
  background-color: lightgreen;
}
